@font-face {
  font-family: 'San Francisco Pro';
  font-weight: 600;
  font-style: normal;
  src: local('San Francisco Pro Display Semibold'), local('San-Francisco-Pro-Display-Semibold'),
    url('/fonts/SFProDisplay-Semibold.woff') format('woff')
}

@font-face {
  font-family: 'San Francisco Pro';
  font-weight: 400;
  font-style: normal;
  src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff')
}

@font-face {
  font-family: 'San Francisco Pro';
  font-weight: 700;
  font-style: normal;
  src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff')
}

@font-face {
  font-family: 'San Francisco Pro';
  font-weight: 900;
  font-style: normal;
  src: local('San Francisco Pro Display Black'), local('San-Francisco-Pro-Display-Black'),
    url('../fonts/SFProDisplay-Black.woff') format('woff')
}
